<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arbin Voltage and Current / Time: {{ part_number }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container terminal-window graph-page-container"> <!-- Add the class "graph-page-container" -->
        <div class="terminal-header">
            <h1>Arbin Voltage and Current / Time: {{ part_number }}</h1>
        </div>
        <div class="terminal-body">
            <h2>Date: {{ Date_Time }}</h2>
            <h2>Channel Info: {{ channel_info[0] }}</h2>

            <!-- Button arrangement -->
            <div style="display: flex; gap: 20px;">
                <!-- Delete button -->
                <form action="{{ url_for('delete_record_route', part_number=part_number, Date_Time=Date_Time.replace('/', '-')) }}" method="post">
                    <input type="hidden" name="channel_info" value="{{ channel_info }}">
                    <button type="submit" class="button">Delete Record</button>
                </form>
                
                <!-- Back button -->
                <button id="backButton" class="button">Go Back</button>
            </div>

            <div class="graph-container">
                <canvas id="chart" class="graph"></canvas>
            </div>

            <!-- Data at Line Intersections -->
            <div id="lineIntersections" class="terminal-output">
                <h3>Data at Line Intersections:</h3>
                <ul id="intersectionData"></ul>
            </div>
        </div>
    </div>
   
    <!-- Script -->
    <script>
        const testTime = {{ test_time|tojson }};
        const currentA = {{ currentA|tojson }};
        const voltageV = {{ voltageV|tojson }};
        const stepIndices = {{ step_indices|tojson }};
        const cycleIndices = {{ cycle_indices|tojson }};

        console.log('testTime:', testTime);
        console.log('currentA:', currentA);
        console.log('voltageV:', voltageV);      

        const annotations = [];
        let annotationCounter = 1;

        const ctx = document.getElementById('chart').getContext('2d');
        let lastStepIndex = stepIndices[0];
        let lastCycleIndex = cycleIndices[0];

        // Initialize list for intersection data
        const intersectionList = document.getElementById('intersectionData');

        // Iterate through stepIndices and cycleIndices to create annotations and list items
        for (let i = 1; i < stepIndices.length; i++) {
            if (stepIndices[i] > lastStepIndex) {
                annotations.push({
                    type: 'line',
                    mode: 'vertical',
                    scaleID: 'x',
                    value: testTime[i-1],
                    borderColor: 'grey',
                    borderWidth: 2,
                    borderDash: [2, 2],
                    label: {
                        enabled: true,
                        content: 'T' + annotationCounter++
                    }
                });

                // Create list item and append it to intersectionList
                let listItem = document.createElement('li');
                listItem.textContent = `Time: ${testTime[i-1]}, Current: ${currentA[i-1]}, Voltage: ${voltageV[i-1]}`;
                intersectionList.appendChild(listItem);

                lastStepIndex = stepIndices[i];
            }

            if (cycleIndices[i] > lastCycleIndex) {
                annotations.push({
                    type: 'line',
                    mode: 'vertical',
                    scaleID: 'x',
                    value: testTime[i],
                    borderColor: 'red',  
                    borderWidth: 2,
                    borderDash: [2, 2],
                    label: {
                        enabled: true,
                        content: 'C' + cycleIndices[i]
                    }
                });

                // Create list item and append it to intersectionList
                let listItem = document.createElement('li');
                listItem.textContent = `Time: ${testTime[i]}, Current: ${currentA[i]}, Voltage: ${voltageV[i]}`;
                listItem.style.color = 'red';
                intersectionList.appendChild(listItem);

                lastCycleIndex = cycleIndices[i];
            }
        }

        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: testTime,
                datasets: [
                    {
                        label: 'Current (A)',
                        yAxisID: 'A',
                        data: currentA,
                        borderColor: '#e1e1e1',
                        backgroundColor: 'rgba(225, 225, 225, 0.2)',
                        pointBorderColor: '#e1e1e1',
                        fill: false
                    },
                    {
                        label: 'Voltage (V)',
                        yAxisID: 'V',
                        data: voltageV,
                        borderColor: '#007bff',
                        backgroundColor: 'rgba(0, 123, 255, 0.2)',
                        pointBorderColor: '#007bff',
                        fill: false
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        title: {
                            text: 'Test Time',
                            display: true
                        },
                        grid: {
                            color: '#444'
                        },
                        ticks: {
                            color: '#e1e1e1'
                        }
                    },
                    A: {
                        type: 'linear',
                        position: 'left',
                        title: {
                            text: 'Current (A)',
                            display: true
                        },
                        grid: {
                            color: '#444'
                        },
                        ticks: {
                            color: '#e1e1e1'
                        }
                    },
                    V: {
                        type: 'linear',
                        position: 'right',
                        title: {
                            text: 'Voltage (V)',
                            display: true
                        },
                        grid: {
                            color: '#444'
                        },
                        ticks: {
                            color: '#e1e1e1'
                        }
                    }
                },
                plugins: {
                    annotation: {
                        annotations: annotations
                    },
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true, // Enable zooming with mouse wheel
                            },
                            pinch: {
                                enabled: true, // Enable zooming with pinch gestures
                            },
                            mode: 'xy', // Enable zooming in both directions (x and y)
                        },
                        pan: {
                            enabled: true, // Enable panning
                        },
                    },
                },
            },
        });

        document.getElementById('backButton').addEventListener('click', function() {
            window.history.back();
        });
    </script>
</body>
</html>
